.classpath
.project
.settings
eclipsebin

bin
gen
build
out
lib

target
pom.xml.*
release.properties

.idea
*.iml
classes

obj

.DS_Store

### Gradle ###
.gradle
build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
